# Database Login
POSTGRES_USER=codimd
POSTGRES_PASSWORD=secretpw

# Path to container
PWD=/path/to/codimd-container/

# For use with proxy companion
DOMAINS=md.example.tld
MAIN_DOMAIN=md.example.tld
LETSENCRYPT_EMAIL=webmaster@example.tld
VIRTUAL_PORT=3000
# Default name, not used yet in config
NETWORK=webproxy

